body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(19, 18, 18);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: rgb(19, 18, 18);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

.section-content {
  border: 4px solid #e5e0e0;
  position: relative;
  height: 720px;
  margin-top: 70px;
  background-image: url('../Images/IMG_3175.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 450px) {
  .scrolling-list {
    width: 200px !important;
    height: 400px !important;
    right: 0 !important;
  }

  .section-content {
    height: 600px;
    background-size: 1100px;
  }

  .footer-text {
    font-size: 20px
  }

  .section-title2 {
    margin-left: 0 !important;
  }

  .text-content p {
    opacity: 0;
    animation: fadeInSlideUp 3s ease forwards;

  }
}

section {
  background-color: rgb(19, 18, 18);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  color: #f6f0f0;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  color: rgb(142, 47, 48);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.welcome-text h1 {
  font-size: 3em;
  color: #e5e0e0;
}

.scrolling-list {
  width: 250px;
  height: 600px;
  overflow: hidden;
  margin: auto;
  background-color: rgb(19, 18, 18);
  border-radius: 10px;
  background: transparent;
  position: absolute;
  right: 30px;
  bottom: 60px;
}

.scroll-list {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: white;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  animation: scroll 10s linear infinite;
}

.scroll-list a {
  padding: 20px;
  background-color: transparent;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 3;
  color: white;
  text-decoration: none;
  transition: box-shadow 0.3s ease-in-out;
}

.scroll-list a:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.881);
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.footer-text {
  left: 20px;
  top: 340px;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 10px;
  position: absolute;
}

.about-me-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  color: #fff;
  background-color: rgb(19, 18, 18);
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  height: 800px;
  margin-bottom: 160px;
}

.image-content {
  text-align: right;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 150px;
  width: 400px;
  height: 250px;
}

.image-content img {
  max-width: 400px;
  height: auto;
}

.arrow {
  position: absolute;
  display: flex;
  height: 80px;
  bottom: 0;
  left: 30px;
}

.section-title3 {
  display: flex;
  position: absolute;
  font-family: Bradley Hand;
  font-size: 1.5rem;
  bottom: 0;
  height: 5px;
}

.text-content {
  max-width: 50%;
  padding-right: 2rem;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .text-content {
    max-width: 100%;
  }

  .image-content {

    display: none;
  }
}

@media (max-width: 480px) {
  .about-me-section p, .contact-container h2, .footer-text {
    font-size: smaller;
  }

  .section-title2 h3 {
    margin-left: 0px;

  }
}

@media only screen and (max-width: 768px) {
  header, .section-content, .about-me-section {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

.text-content, .image-content {
  flex-basis: 100%;
}

nav a {
  font-size: 16px;
}

@media only screen and (max-width: 480px) {
  .section-title, .section-title2, .section-title3 {
    font-size: 1.5rem;
  }

  .footer-text {
    font-size: 30px;
  }

  nav a {
    margin: 0 10px;
    font-size: 14px;

  }

  .scroll-list {
    font-size: 20px;
    right: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 1rem;
  height: 60px;
}

.section-title2 {
  font-family: Bradley Hand;
  font-size: 2rem;
  color: #ffffff;
  text-transform: uppercase;
  left: 20px;
  margin-left: 200px;
  animation: pulse 2s ease-in-out infinite;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

.highlight {
  color: rgb(209, 43, 43);
}

@media only screen and (max-width: 480px) {
  .section-title, .section-title2, .section-title3 {
    font-size: 1.5rem;
  }

  .footer-text {
    font-size: 30px;
  }

  nav a {
    margin: 0 10px;
    font-size: 14px;

  }

  .scroll-list {
    font-size: 20px;
    right: 0;
  }
}

#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

#contact .contact-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#contact .contact-item {
  width: 25%;
  padding: 20px;
  margin: 15px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .section-title {
  font-size: 1.5rem;
  color: #f4f6f7;
  text-align: center;
}

body.light-mode {
  background-color: #bbbbbb;
  color: #000; 
}


body.light-mode a {
  color: #0f1010;
}

#modeToggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #000; 
  color: #fff; 
  border: 2px solid #fff; 

}

body.light-mode #modeToggle {
  background-color: #fff; 
  color: #000; 
  border: 2px solid #000; 
}


body.light-mode .section-content{
  background-color: #bbbbbb; 
  color: #000000;
  background-image: url('/Asset/Images/fond_rejda.webp'); 
  border: 6px solid rgb(19, 18, 18)
}


body.light-mode a {
  color: #0a0a0a; 
}

body.light-mode header {
  background: #9e9e9e; 
  color: #000000; 
}

body.light-mode .section-content, 
body.light-mode .about-me-section, 
body.light-mode .contact-container, 
body.light-mode .section-title, 
body.light-mode #contact .contact-item,
body.light-mode .section-title2,
body.light-mode .about-me-section p,
body.light-mode #contact .section-title,
body.light-mode .body
{
  background-color: #bbbbbb; 
  color: #000000; 
}

body.light-mode .scroll-list a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
}

body.light-mode .footer-text {
  color: #000000; 
  text-shadow: none; 
}


body.light-mode .highlight {
  color: #D14343; 
}
